<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tutorial.mapper.BooksMapper">

    <resultMap type="Books" id="BooksResult">
        <result property="id"    column="id"    />
        <result property="typeId"    column="type_id"    />
        <result property="name"    column="name"    />
        <result property="cover"    column="cover"    />
        <result property="briefly"    column="briefly"    />
        <result property="description"    column="description"    />
        <result property="views"    column="views"    />
        <result property="booksType"    column="books_type"    />
    </resultMap>

    <sql id="selectBooksVo">
        select id, type_id, name, cover, briefly, description, views, books_type from t_books
    </sql>

    <select id="selectBooksList" parameterType="Books" resultMap="BooksResult">
        <include refid="selectBooksVo"/>
        <where>
            <if test="typeId != null "> and type_id = #{typeId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="booksType != null  and booksType != ''"> and books_type = #{booksType}</if>
        </where>
    </select>

    <select id="selectBooksById" parameterType="Long" resultMap="BooksResult">
        <include refid="selectBooksVo"/>
        where id = #{id}
    </select>

    <insert id="insertBooks" parameterType="Books" useGeneratedKeys="true" keyProperty="id">
        insert into t_books
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">type_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="cover != null and cover != ''">cover,</if>
            <if test="briefly != null and briefly != ''">briefly,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="views != null">views,</if>
            <if test="booksType != null and booksType != ''">books_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">#{typeId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="cover != null and cover != ''">#{cover},</if>
            <if test="briefly != null and briefly != ''">#{briefly},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="views != null">#{views},</if>
            <if test="booksType != null and booksType != ''">#{booksType},</if>
         </trim>
    </insert>

    <update id="updateBooks" parameterType="Books">
        update t_books
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="cover != null and cover != ''">cover = #{cover},</if>
            <if test="briefly != null and briefly != ''">briefly = #{briefly},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="views != null">views = #{views},</if>
            <if test="booksType != null and booksType != ''">books_type = #{booksType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBooksById" parameterType="Long">
        delete from t_books where id = #{id}
    </delete>

    <delete id="deleteBooksByIds" parameterType="String">
        delete from t_books where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="randomRecommendation" resultType="net.tutorial.domain.entity.Books">
        SELECT id,name FROM t_books ORDER BY RAND() LIMIT 3;
    </select>
    <select id="getFirstChapter" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT id
        FROM t_chapters
        WHERE book_id = #{Id}
          AND parent_id != 0
          AND sequence = (
            SELECT MIN(sequence)
            FROM t_chapters AS sub_chapters
            WHERE sub_chapters.book_id = t_chapters.book_id
              AND sub_chapters.parent_id != 0
        );
    </select>
</mapper>
