<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tutorial.mapper.ContentMapper">
    
    <resultMap type="Content" id="ContentResult">
        <result property="id"    column="id"    />
        <result property="chapterId"    column="chapter_id"    />
        <result property="content"    column="content"    />
        <result property="videoId"    column="video_id"    />
    </resultMap>

    <sql id="selectContentVo">
        select id, chapter_id, content, video_id from t_content
    </sql>

    <select id="selectContentList" parameterType="Content" resultMap="ContentResult">
        <include refid="selectContentVo"/>
        <where>  
            <if test="chapterId != null "> and chapter_id = #{chapterId}</if>
            <if test="videoId != null "> and video_id = #{videoId}</if>
        </where>
    </select>
    
    <select id="selectContentById" parameterType="Long" resultMap="ContentResult">
        <include refid="selectContentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertContent" parameterType="Content" useGeneratedKeys="true" keyProperty="id">
        insert into t_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">chapter_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="videoId != null">video_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">#{chapterId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="videoId != null">#{videoId},</if>
         </trim>
    </insert>

    <update id="updateContent" parameterType="Content">
        update t_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="chapterId != null">chapter_id = #{chapterId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="videoId != null">video_id = #{videoId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContentById" parameterType="Long">
        delete from t_content where id = #{id}
    </delete>

    <delete id="deleteContentByIds" parameterType="String">
        delete from t_content where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>