<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tutorial.mapper.FavoriteMapper">
    
    <resultMap type="Favorite" id="FavoriteResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
        <result property="articleId"    column="article_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFavoriteVo">
        select id, user_id, type, article_id, create_time, update_time from t_favorite
    </sql>

    <select id="selectFavoriteList" parameterType="Favorite" resultMap="FavoriteResult">
        <include refid="selectFavoriteVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="articleId != null "> and article_id = #{articleId}</if>
        </where>
    </select>
    
    <select id="selectFavoriteById" parameterType="Long" resultMap="FavoriteResult">
        <include refid="selectFavoriteVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFavorite" parameterType="Favorite" useGeneratedKeys="true" keyProperty="id">
        insert into t_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="articleId != null">article_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
            <if test="articleId != null">#{articleId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFavorite" parameterType="Favorite">
        update t_favorite
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFavoriteById" parameterType="Long">
        delete from t_favorite where id = #{id}
    </delete>

    <delete id="deleteFavoriteByIds" parameterType="String">
        delete from t_favorite where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>