<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tutorial.mapper.TutorMapper">
    
    <resultMap type="Tutor" id="TutorResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="cover"    column="cover"    />
        <result property="description"    column="description"    />
        <result property="price"    column="price"    />
        <result property="attendNum"    column="attend_num"    />
    </resultMap>

    <sql id="selectTutorVo">
        select id, name, cover, description, price, attend_num from t_tutor
    </sql>

    <select id="selectTutorList" parameterType="Tutor" resultMap="TutorResult">
        <include refid="selectTutorVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectTutorById" parameterType="Long" resultMap="TutorResult">
        <include refid="selectTutorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTutor" parameterType="Tutor" useGeneratedKeys="true" keyProperty="id">
        insert into t_tutor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="cover != null and cover != ''">cover,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="price != null">price,</if>
            <if test="attendNum != null">attend_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="cover != null and cover != ''">#{cover},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="price != null">#{price},</if>
            <if test="attendNum != null">#{attendNum},</if>
         </trim>
    </insert>

    <update id="updateTutor" parameterType="Tutor">
        update t_tutor
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="cover != null and cover != ''">cover = #{cover},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="price != null">price = #{price},</if>
            <if test="attendNum != null">attend_num = #{attendNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTutorById" parameterType="Long">
        delete from t_tutor where id = #{id}
    </delete>

    <delete id="deleteTutorByIds" parameterType="String">
        delete from t_tutor where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>